.presentation{
    padding: 1rem;
    color: white;
    background-image: url("../public/submit.jpg") ;
    background-size:cover;
    background-position: center;
    height: 90vh;
    
}

.content_presentation{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 2rem 3rem 2rem;
    width: 30vw;
    text-align: center;
    margin: 4rem auto;
}

.more{
    /* text-decoration: none; */
    color: white;
  
    /* position: relative;
    left: 30vw;
    top: -2vh; */
    border: 1px solid black;
    padding: 1rem;
    /* width: 7vw; */
    transition: all 1.5s;
    background-color: rgba(0, 0, 0, 0.8);
  }

.more:hover{
    background-color:white;
    color: black;

}

.input{
    padding: 1rem;
    
}

.return {
    resize: none;
    padding: 1rem;
  }

 /* ********** MEDIA QUERIES (MEDIUM DEVICES) ********** */

 @media screen and (max-width:1024px) {

  
    
  }
  
  /* ********** MEDIA QUERIES (SMALLDEVICES) ********** */
  
  @media screen and (max-width:600px) {
 
    .input{
        padding: 0rem;
    }

    .textarea{
        width: auto;
        height: auto;
    }

    .more{
        /* text-decoration: none; */
        color: white;
      
        /* position: relative;
        left: 30vw;
        top: -2vh; */
        border: 1px solid black;
        padding: 1rem;
        /* width: 7vw; */
        transition: all 1.5s;
        background-color: rgba(0, 0, 0, 0.8);
      }
      
    

}